rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      //only auth
      allow create:if request.auth!=null;
  //logged in user must match the document creator to read and delte.
      allow read, delete:if request.auth.uid==resource.data.uid;
    }
  }
}